/* html wide formatting */
html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightgrey;
    align-items: center;
    text-align: center;
}
header{
    display: block;
    padding: 5px 5px 5px 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    font-weight: bold;
}
footer{
    display: block;
}
/* ids */
#header{
    display: block;
    padding: 5px 5px 5px 5px;
}

/* classes */
.dotImage {
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
}